body{
    background-image: url("pic/box_bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
}

#game-container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

fieldset{
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: 25px;
}

#game-layer {
    position: relative;
    width: 500px;
    height: 500px;
    
    border: 3px solid black;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
}

.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}

.green{
    background-color: green; 
}