#topic1{
    margin-top: 80px;
}

button{
    font-size: 20px;
}

div{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    
}

body{
    background-image: url("pic/green_board.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image */
    text-align: center;
}